@import url(./base.css);

body {
    background-color: rgba(8, 60, 58, 1);
}

.bars {
    display: none;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0%;
    right: 0%;
    z-index: 9999;
    background-color: rgba(75, 106, 103);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0px -10px 30px 15px #000000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 18px;
}

.nav-right a {
    position: relative;
    color: white;
    font-size: 18px;
    transition: color 0.3s, font-size 0.3s;
    text-decoration: none;
}

.nav-right a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondcolor);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-right a:hover {
    transform: scale(1.05);

}

.nav-right a:hover::after {
    transform: scaleX(1);
}

.nav-left {
    display: flex;
    align-items: center;
}

.contact-button {
    background-color: #f1f4e9;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--mainfont);
    transition: all 0.3s ease;
    transition-property: background-color color;

}

.contact-button:hover {
    background-color: var(--maincolor);
    transform: scale(1.05);
    color: white;
    height: 40px;
    box-shadow: 0 0 20px black;

}

.logo {
    font-size: 24px;
    margin-left: 10px;
}

.title h1 {
    font-family: var(--mainfont);
    font-size: 50px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media screen and (min-width:0px) and (max-width:700px) {

    .nav-right a,
    .contact-button {
        display: none;
    }


    .bars {
        display: block;
    }

}

/*end navbar*/




/*start sections*/
.second-logo {
    margin: 50px 0px 25px 0px;
}

.sections {
    width: 100%;
}

.sections .row {
    gap: 20px;
}

.section {
    width: 470px;
    font-size: 22px;
    color: var(--maincolor);
    background-color: rgba(237, 237, 221, 1);
    border-radius: 50px;
    padding: 30px 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    transition: all 0.5s ease;
    transition-property: background-color color;
}

.section h2 {
    color: var(--maincolor);
    font-weight: 300;
}

.section::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -35%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(237, 237, 221, 0.27));
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.section:hover {
    background-color: rgba(237, 237, 221, 0.25);
    color: var(--secondcolor);
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}

.section:hover h2 {
    color: var(--secondcolor);
}

.section:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}

.major {
    width: 350px;
    font-size: 20px;
}

@media screen and (min-width:0px) and (max-width:1152px) {


    .title h1 {
        font-size: 45px;
    }
}

@media screen and (min-width:0px) and (max-width:1024px) {


    .title h1 {
        font-size: 40px;
    }

    .second-logo img {
        width: 200px;
        height: 250px;
    }

    .section {
        width: 370px;
        padding: 30px 60px;

    }

    .section h2 {
        font-size: 25px;
        font-weight: 400;
    }

}

@media screen and (min-width:0px) and (max-width:768px) {


    .second-logo img {
        width: 175px;
        height: 225px;
    }

    .section {
        width: 350px;
        padding: 30px 60px;
    }

    .section h2 {
        font-size: 23px;
    }


    .title h1 {
        font-size: 38px;
    }

}

@media screen and (min-width:0px) and (max-width:660px) {

    .second-logo img {
        width: 150px;
        height: 200px;
    }

    .section {
        width: 325px;
        padding: 25px 55px;
    }

    .section h2 {
        font-size: 20px;
    }

    .title h1 {
        font-size: 36px;
    }
}

@media screen and (min-width:0px) and (max-width:560px) {

    .second-logo img {
        width: 125px;
        height: 150px;
    }

    .section {
        width: 270px;
        padding: 25px 35px;
    }

    .section h2 {
        font-size: 18px;
    }

}

@media screen and (min-width:0px) and (max-width:425px) {

.title h1 {
    font-size: 30px;
}

}

@media screen and (min-width:0px) and (max-width:375px) {

.title h1 {
    font-size: 25px;
}

}


/*end sections*/



/*start comp1*/

.section-title {
    margin-bottom: 60px;
}

.section-title .row {
    flex-direction: column;
    gap: 10px;
}

.cards .container {
    width: 95%;
}

.cards .row {
    gap: 25px;
}

.cards {
    margin-bottom: 50px;
}

.card {
    width: 285px;
    height: 225px;
    background-color: rgba(237, 237, 221, 1);
    border-radius: 20px;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 35px 10px rgb(0, 0, 0);
    transform: scale(1.04);
    border-radius: 20px;
}